.add {
  width: 100vw;
  height: 88vh;
  background-color: whitesmoke
}

.add-h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10vh;
}

input {
  width: 100%;
  margin: 1vh 0;
  padding: 1vh 0;
  white-space: normal;
}

.add-button {
  width: 100%;
  height: 40px;
  background-color: #0d6efd;
  border: none;
  color: #F5F7FA;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1vh 0;
  border-radius: 5px;
}
